{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}

<h2 class="mb-3">Вход</h2>

<div class="card">
    <div class="card-body">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                Войти
            </button>

            <a href="{% url 'users:register' %}" class="btn btn-secondary">
                Регистрация
            </a>

        </form>

    </div>
</div>

{% endblock %}